<?xml version="1.0"?>
<configuration>
	<appSettings>
		<!-- Publication Uri to resolve against -->
		<add key="PublicationUri" value="tcm:0-233-1" />
		
		<!-- Component(s) to resolve -->
		<add key="LinkUri" value="tcm:233-193779,tcm:233-193779" />
		
		<!-- Dynamic Component Presentation(s) to retrieve -->
		<add key="BrokerUri" value="tcm:233-214214,tcm:233-214214" />		
	</appSettings>
</configuration>
